h3 {
  color: #000000;
}

.section {
  width: 100%;
  color: #eee;
}

.error-text {
  color: red;
}

.warn-text {
  color: #6e6e6e;
}

.conversion-wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.column {
  flex: 1;
  position: relative;
}

.subheading {
  color: #6e6e6e;
}

.controls {
  margin-bottom: 1rem;
  color: #333;
}

.controls label {
  margin-right: 0.5rem;
}

.controls select {
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.button-group {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.copy-btn,
.download-btn {
  padding: 0.4rem 0.8rem;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.copy-btn {
  background-color: #00bcd4;
}

.download-btn {
  background-color: #4caf50;
}

/* YAML View */
.yaml-container {
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 8px;
  font-family: monospace;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  position: relative;
  color: #ddd;
}

.yaml-line {
  display: flex;
}

.line-number {
  width: 3em;
  text-align: right;
  padding-right: 1em;
  color: #ffff00;
  user-select: none;
}

.line-content {
  flex: 1;
}

.yaml-container {
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 8px;
  font-family: monospace;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  position: relative;
  color: #ddd;
}

.yaml-line {
  display: flex;
}

.yaml-line-number {
  width: 3em;
  text-align: right;
  padding-right: 1em;
  color: #FFFF00;
  user-select: none;
}

.yaml-line-content {
  flex: 1;
}